@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html,
  body {
    @apply max-w-full overflow-x-hidden;
  }

  body {
    @apply text-foreground bg-background font-sans antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }
}
